@model LoginModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - SG Rentals</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="login">
        <div class="col-md-4 col-sm-10 m-auto" style="margin-top: 10%!important;">
            <div class="card" >
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img loading="lazy" src="/img/sgrentals-logo-top.svg" alt="Logo da Sgrentals colorido em svg" height="50">
                    </div>
                    <form method="post" asp-controller="Login" asp-action="Index">
                        <div class="mb-3">
                            <label for="login" class="form-label">Login</label>
                            <input type="text" class="form-control" id="login" asp-for="Login">
                            <span class="text-danger" asp-validation-for="Login"></span>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="password" asp-for="Password">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @TempData["ErrorMessage"]
                            </div>
                        }
                        <button type="submit" class="btn btn-primary btn-block">
                            Entrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
